<div class="a1-section17">

  <div class="top-title">
    {%- if section.settings.title != blank -%}
      <h1>
        {{ section.settings.title | escape }}
      </h1>
    {%- endif -%}
    {%- if section.settings.sub_title != blank -%}
      <p>
        {{ section.settings.sub_title | escape }}
      </p>
    {%- endif -%}
  </div>

  <div class="con-box list1">
    <ul>
      <li>
        <div class="dispose">&nbsp;</div>
        <div class="dispose">STANFARD</div>
        <div class="dispose">PRO</div>
      </li>
      <li>
        <div class="dispose">&nbsp;</div>
        <div class="item"><img src="https://cdn.shopifycdn.net/s/files/1/0618/3256/0794/files/a1-section17-c1.png?v=1677136695" /></div>
        <div class="item"><img src="https://cdn.shopifycdn.net/s/files/1/0618/3256/0794/files/a1-section17-c2.png?v=1677136695"  /></div>
      </li>
      <li>
        <div class="dispose">COLOR SCHEME</div>
        <div class="item"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" fill="none"><defs><linearGradient id="linear_0" x1="-14.964383840560913%" y1="-3.3318012952804565%" x2="173.84248971939087%" y2="152.66543626785278%" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#FFFFFF" stop-opacity="1" /><stop offset="1" stop-color="#141414" stop-opacity="1" /></linearGradient></defs><path id="椭圆 56" fill-rule="evenodd" fill="url(#linear_0)" transform="translate(0 0)  rotate(0 12 12)" opacity="1" d="M12,0C5.37,0 0,5.37 0,12C0,18.63 5.37,24 12,24C18.63,24 24,18.63 24,12C24,5.37 18.63,0 12,0Z " /></svg></div>
        <div class="item"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72" height="24" viewBox="0 0 72 24" fill="none"><defs><linearGradient id="linear_0" x1="-14.964383840560913%" y1="-3.3318012952804565%" x2="173.84248971939087%" y2="152.66543626785278%" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#FFFFFF" stop-opacity="1" /><stop offset="1" stop-color="#141414" stop-opacity="1" /></linearGradient></defs><g opacity="1" transform="translate(24 -24)  rotate(90 12 36)"><path id="椭圆 55" fill-rule="evenodd" style="fill:#E4683C" transform="translate(0 0)  rotate(0 12 12)" opacity="1" d="M12,0C5.37,0 0,5.37 0,12C0,18.63 5.37,24 12,24C18.63,24 24,18.63 24,12C24,5.37 18.63,0 12,0Z " /><path id="椭圆 56" fill-rule="evenodd" fill="url(#linear_0)" transform="translate(0 48)  rotate(-90 12 12)" opacity="1" d="M12,0C5.37,0 0,5.37 0,12C0,18.63 5.37,24 12,24C18.63,24 24,18.63 24,12C24,5.37 18.63,0 12,0Z " /></g></svg></div>
      </li>
      <li>
        <div class="dispose">RANGE</div>
        <div class="item">40-75 MIILES</div>
        <div class="item">80-150 MILES</div>
      </li>
      <li>
        <div class="dispose">BATTERY</div>
        <div class="item">960WH (48V 20AH)</div>
        <div class="item">1920WH (48V 40AH)</div>
      </li>
      <li>
        <div class="dispose">CHARGING TIME</div>
        <div class="item">6-7 HRS (3A)</div>
        <div class="item">8-10 HRS (5A)</div>
      </li>
       <li>
        <div class="dispose">DRIVETRAIN</div>
        <div class="item">CHAIN DRIVE (SINGLE SPEED)</div>
        <div class="item">BELT DRIVE (SINGLE SPEED)</div>
      </li>
       <li>
        <div class="dispose">WEIGHT</div>
        <div class="item">117LBS (53KG)</div>
        <div class="item">123LBS (56KG)</div>
      </li>
      <li>
        <div class="dispose">DASHBOARD</div>
        <div class="item">4.3 INCH，LCD DISPLAY</div>
        <div class="item">5.5-INCH FULL-COLOR LCD SMART DISPLAY</div>
      </li>
       <li>
        <div class="dispose">COMBINATION KEY</div>
        <div class="item">
           <div class="ci">DTK3 WITH 3 FUNCTIONAL BUTTONS</div>
           <div class="ci">NO SMART HARDWARE EXTENSION</div>
        </div>
        <div class="item">
           <div class="ci">DTK7 WITH 7 CUSTOMIZABLE BUTTONS</div>
           <div class="ci">DASH CAM & SMART HELMET EXTENSIBLE</div>
        </div>
      </li>
      <li>
        <div class="dispose">SUSPENSION</div>
        <div class="merge">
           <div class="ci">FRONT : AIR SHOCK</div>
           <div class="ci">REAR : COIL-OVER MONOSHOCK</div>
        </div>
      </li>
       <li>
        <div class="dispose">SADDLE THICKNESS</div>
        <div class="merge">45mm</div>
      </li>
       <li>
        <div class="dispose">BRAKES</div>
        <div class="merge">4-PISTON, HYDRAULIC</div>
      </li>
       <li>
        <div class="dispose">TIRES</div>
        <div class="merge">20" x 4.0"</div>
      </li>
          <li>
        <div class="dispose">MOTOR CONTROLLER</div>
        <div class="merge">48V 1200W</div>
      </li>
        <li>
        <div class="dispose">MOTOR</div>
        <div class="merge">
           <div class="ci">CLASS 1/2/3 (ECO/NORMAL/SPORT) : 750W NOMINAL / 1200W PEAK</div>
           <div class="ci">OFF-ROAD : 1200W NOMINAL / 2500W PEAK</div>
        </div>
      </li>
          <li>
        <div class="dispose">TOP SPEED</div>
        <div class="merge">
           <div class="ci">CLASS 1/2 (ECO/NORMAL): 20 MPH</div>
           <div class="ci">CLASS 3 (SPORT) : 28 MPH</div>
          <div class="ci">OFF-ROAD : 28+ MPH （35MPH）</div>
        </div>
      </li>
          <li>
        <div class="dispose">CLIMBING CAPABILITY</div>
        <div class="merge">15°</div>
      </li>
       <li>
        <div class="dispose">MAX TORQUE（N·m）</div>
        <div class="merge">100N·m</div>
      </li>
          <li class="none">
        <div class="dispose">RIDER'S HEIGHT</div>
        <div class="merge">170-195MM</div>
      </li>
        <li class="none">
        <div class="dispose">RIDER WEIGHT LIMIT</div>
        <div class="merge">330 LBS (150KG)</div>
      </li>
          <li class="none">
        <div class="dispose">DIMENSIONS</div>
        <div class="merge">
           <div class="ci">LENGTH x WIDTH x HEIGHT（MM）: 1785 x 700x1165</div>
           <div class="ci">SEAT HEIGHT（MM） : 850</div>
          <div class="ci">HANDLEBAR HEIGHT（MM）: 1080</div>
          <div class="ci">WHEELBASE（MM）: 1200</div>
          <div class="ci">FRONT-CENTER（MM）: 720</div>
          <div class="ci">REAR-CENTER（MM）: 480</div>
        </div>
      </li>
      <li class="none">
        <div class="dispose">IOT</div>
        <div class="merge">LTE Cat.1/GPS/Bluetooth</div>
      </li>
       <li class="none">
        <div class="dispose">FALL DETECTION</div>
        <div class="merge">YES</div>
      </li>
          <li class="none">
        <div class="dispose">OUTPUT CHARGING</div>
        <div class="merge">USB TYPE A, MAX 5W</div>
      </li>
       <li class="none">
        <div class="dispose">LOCK SYSTEM</div>
        <div class="merge">ELECTRONIC REAR HUB LOCK</div>
      </li>
          <li class="none">
        <div class="dispose">HEADLIGHT</div>
        <div class="merge">LED</div>

      </li>
       <li class="none">
        <div class="dispose">TAILLIGHT</div>
        <div class="merge">LED</div>

      </li>
          <li class="none">
        <div class="dispose">HORN</div>
        <div class="merge">YES</div>
      </li>
       <li class="none">
        <div class="dispose">SYSTEM COMMUNICATION</div>
        <div class="merge">CAN</div>
      </li>
           <li class="none">
        <div class="dispose">DIGITAL KEY AND AUTO UNLOCK</div>
        <div class="merge">YES</div>
      </li>
           <li class="none">
        <div class="dispose">FIND MY BIKE</div>
        <div class="merge">YES</div>
      </li>
           <li class="none">
        <div class="dispose">NAVIGATION</div>
        <div class="merge">YES</div>
      </li>
          
    </ul>
          <div class="btn_1">Full specification +</div>
  </div>
  
</div>
{%- style -%}

  .btn_1{text-align:right;color:#FF6600;padding-top:1.5rem}

  .btn_1 span{font-size:2.4rem}

  @media (min-width: 767px) {
    .a1-section17 .top-title h1 {
      font-size: {{ section.settings.title_fs }}rem;
      line-height: {{ section.settings.title_lh }}rem;
    }
    .a1-section17 .top-title p {
      font-size: {{ section.settings.sub_title_fs }}rem;
      line-height: {{ section.settings.sub_title_lh }}rem;
    }
  }

  @media (max-width: 768px) {
    
  }

{%- endstyle -%}


{% schema %}
{
  "name": "A1 Section 17",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "range",
      "id": "title_fs",
      "label": "标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_fs_mobile",
      "label": "移动端标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh",
      "label": "标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh_mobile",
      "label": "移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "描述"
    },
    {
      "type": "range",
      "id": "sub_title_fs",
      "label": "描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "sub_title_fs_mobile",
      "label": "移动端描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "sub_title_lh",
      "label": "描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "sub_title_lh_mobile",
      "label": "移动端描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    }
  ],
  "presets": [
    {
      "name": "A1 Section 17"
    }
  ]
}
{% endschema %}
