<div class="a1-section6">
  <div class="top-title">
    {%- if section.settings.title != blank -%}
      <h1 class="m">
        {{ section.settings.title | escape }}
      </h1>
    {%- endif -%}
    {%- if section.settings.description != blank -%}
      <p>
        {{ section.settings.description | escape }}
      </p>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
      <h1 class="pc">
        {{ section.settings.title | escape }}
      </h1>
    {%- endif -%}
  </div>

  <div class="con-box">
    <div class="l">
      {%- if section.settings.left_img != blank -%}
        <div class="p1">
          <img
                srcset="{{ section.settings.left_img | img_url: 'master' }}"
                src="{{ section.settings.left_img | img_url: 'master' }}"
                alt="{{ section.settings.left_img.alt | escape }}"
                loading="lazy"
        >
        </div>
      {%- endif -%}
      <div class="child-con-box">
        {%- if section.settings.left_title != blank -%}
          <h1>
            {{ section.settings.left_title | escape }}
          </h1>
        {%- endif -%}
        {%- if section.settings.left_description != blank -%}
          <p>
            {{ section.settings.left_description | escape }}
          </p>
        {%- endif -%}
      </div>

    </div>
    <div class="r">
      {%- if section.settings.right_img != blank -%}
        <div class="p1">
        <img
                srcset="{{ section.settings.right_img | img_url: 'master' }}"
                src="{{ section.settings.right_img | img_url: 'master' }}"
                alt="{{ section.settings.right_img.alt | escape }}"
                loading="lazy"
        >
        </div>
      {%- endif -%}
      <div class="child-con-box">
        {%- if section.settings.right_title != blank -%}
          <h1>
            {{ section.settings.right_title | escape }}
          </h1>
        {%- endif -%}
        {%- if section.settings.right_description != blank -%}
          <p>
            {{ section.settings.right_description | escape }}
          </p>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div class="con-box">
    <div class="l">
      {%- if section.settings.left_img1 != blank -%}
        <div class="p1">
        <img
                srcset="{{ section.settings.left_img1 | img_url: 'master' }}"
                src="{{ section.settings.left_img1 | img_url: 'master' }}"
                alt="{{ section.settings.left_img1.alt | escape }}"
                loading="lazy"
        >
        </div>
      {%- endif -%}
      <div class="child-con-box l1">
        {%- if section.settings.left_title1 != blank -%}
          <h1>
            {{ section.settings.left_title1 | escape }}
          </h1>
        {%- endif -%}
        {%- if section.settings.left_description1 != blank -%}
          <p>
            {{ section.settings.left_description1 | escape }}
          </p>
        {%- endif -%}
      </div>

    </div>
    <div class="r">
      {%- if section.settings.right_img1 != blank -%}
        <div class="p1">
        <img
                srcset="{{ section.settings.right_img1 | img_url: 'master' }}"
                src="{{ section.settings.right_img1 | img_url: 'master' }}"
                alt="{{ section.settings.right_img1.alt | escape }}"
                loading="lazy"
        >
        </div>
      {%- endif -%}
      <div class="child-con-box r1">
        {%- if section.settings.right_title1 != blank -%}
          <h1>
            {{ section.settings.right_title1 | escape }}
          </h1>
        {%- endif -%}
        {%- if section.settings.right_description1 != blank -%}
          <p>
            {{ section.settings.right_description1 | escape }}
          </p>
        {%- endif -%}
      </div>
    </div>
  </div>

</div>

{%- style -%}

  @media (min-width: 767px) {
    .a1-section6 .top-title h1 {
      font-size: {{ section.settings.title_fs }}rem;
      line-height: {{ section.settings.title_lh }}rem;
    }
    .a1-section6 .top-title p {
      font-size: {{ section.settings.description_fs }}rem;
      line-height: {{ section.settings.description_lh }}rem;}
    }

    .a1-section6 .l .child-con-box h1 {
      font-size: {{ section.settings.left_title_fs }}rem;
      line-height: {{ section.settings.left_title_lh }}rem;
    }
    .a1-section6 .l .child-con-box p {
      font-size: {{ section.settings.left_description_fs }}rem;
      line-height: {{ section.settings.left_description_lh }}rem;
    }

    .a1-section6 .r .child-con-box h1 {
      font-size: {{ section.settings.right_title_fs }}rem;
      line-height: {{ section.settings.right_title_lh }}rem;
    }
    .a1-section6 .r .child-con-box p {
      font-size: {{ section.settings.right_description_fs }}rem;
      line-height: {{ section.settings.right_description_lh }}rem;
    }

    .a1-section6 .l .child-con-box.l1 h1 {
      font-size: {{ section.settings.left_title_fs1 }}rem;
      line-height: {{ section.settings.left_title_lh1 }}rem;
    }
    .a1-section6 .l .child-con-box.l1 p {
      font-size: {{ section.settings.left_description_fs1 }}rem;
      line-height: {{ section.settings.left_description_lh1 }}rem;
    }

    .a1-section6 .r .child-con-box.r1 h1 {
      font-size: {{ section.settings.right_title_fs1 }}rem;
      line-height: {{ section.settings.right_title_lh1 }}rem;
    }
    .a1-section6 .r .child-con-box.r1 p {
      font-size: {{ section.settings.right_description_fs1 }}rem;
      line-height: {{ section.settings.right_description_lh1 }}rem;
    }

  }

  @media (max-width: 768px) {

  }

{%- endstyle -%}

{% schema %}
{
  "name": "A1 Section 6",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "range",
      "id": "title_fs",
      "label": "标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_fs_mobile",
      "label": "移动端标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh",
      "label": "标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh_mobile",
      "label": "移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "描述"
    },
    {
      "type": "range",
      "id": "description_fs",
      "label": "描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_fs_mobile",
      "label": "移动端描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_lh",
      "label": "描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_lh_mobile",
      "label": "移动端描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "image_picker",
      "id": "left_img",
      "label": "左侧图片"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "左侧标题"
    },
    {
      "type": "range",
      "id": "left_title_fs",
      "label": "左侧标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_fs_mobile",
      "label": "左侧移动端标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_lh",
      "label": "左侧标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_lh_mobile",
      "label": "左侧移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "left_description",
      "label": "左侧描述"
    },
    {
      "type": "range",
      "id": "left_description_fs",
      "label": "左侧描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_fs_mobile",
      "label": "左侧移动端描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_lh",
      "label": "左侧描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_lh_mobile",
      "label": "左侧移动端描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "image_picker",
      "id": "right_img",
      "label": "右侧图片"
    },
    {
      "type": "text",
      "id": "right_title",
      "label": "右侧标题"
    },
    {
      "type": "range",
      "id": "right_title_fs",
      "label": "右侧标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_fs_mobile",
      "label": "右侧移动端标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_lh",
      "label": "右侧标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_lh_mobile",
      "label": "右侧移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "right_description",
      "label": "右侧描述"
    },
    {
      "type": "range",
      "id": "right_description_fs",
      "label": "右侧描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_fs_mobile",
      "label": "右侧移动端描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_lh",
      "label": "右侧描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_lh_mobile",
      "label": "右侧移动端描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },

    {
      "type": "image_picker",
      "id": "left_img1",
      "label": "左侧第二张图片"
    },
    {
      "type": "text",
      "id": "left_title1",
      "label": "左侧第二个标题"
    },
    {
      "type": "range",
      "id": "left_title_fs1",
      "label": "左侧第二个标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_fs_mobile1",
      "label": "左侧移动端第二个标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_lh1",
      "label": "左侧第二个标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_title_lh_mobile1",
      "label": "左侧第二个移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "left_description1",
      "label": "左侧第二个描述"
    },
    {
      "type": "range",
      "id": "left_description_fs1",
      "label": "左侧第二个描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_fs_mobile1",
      "label": "左侧移动端第二个描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_lh1",
      "label": "左侧第二个描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "left_description_lh_mobile1",
      "label": "左侧移动端第二个描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "image_picker",
      "id": "right_img1",
      "label": "右侧第二张图片"
    },
    {
      "type": "text",
      "id": "right_title1",
      "label": "右侧第二个标题"
    },
    {
      "type": "range",
      "id": "right_title_fs1",
      "label": "右侧第二个标题文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_fs_mobile1",
      "label": "右侧移动端第二个标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_lh1",
      "label": "右侧第二个标题行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_title_lh_mobile1",
      "label": "右侧移动端第二个标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "right_description1",
      "label": "右侧第二个描述"
    },
    {
      "type": "range",
      "id": "right_description_fs1",
      "label": "右侧第二个描述文字大小",
      "default": 2.3,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_fs_mobile1",
      "label": "右侧移动端第二个描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_lh1",
      "label": "右侧第二个描述行间距",
      "default": 6.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "right_description_lh_mobile1",
      "label": "右侧移动端第二个描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    }

  ],
  "presets": [
    {
      "name": "A1 Section 6"
    }
  ]
}
{% endschema %}
