<div class="service-section7">

  <div class="top-title">
      {%- if section.settings.title != blank -%}
        <h1>
          {{ section.settings.title | escape }}
        </h1>
      {%- endif -%}
  </div>
  <div class = "con-box">
    <div class="l">
      
      {%- if section.settings.description != blank -%}
        <p>
          {{ section.settings.description | escape }}
        </p>
      {%- endif -%}
    </div>

    <div class="r">
      {%- if section.settings.bg_img != blank -%}
        <img
          srcset= "{{ section.settings.bg_img | img_url: 'master' }}"
          src="{{ section.settings.bg_img | img_url: 'master' }}"
          alt="{{ section.settings.bg_img.alt | escape }}"
          loading="lazy"
        />
      {%- endif -%}
    </div>
   </div>
</div>

{%- style -%}

  @media (min-width: 767px) {
    .service-section7 h1 {
      font-size: {{ section.settings.title_fs }}rem;
      line-height: {{ section.settings.title_lh }}rem;
    }
    .service-section7 p {
      font-size: {{ section.settings.description_fs }}rem;
      line-height: {{ section.settings.description_lh }}rem;
    }
    .service-section7 .con-box{
      padding-top: 0;
    }
    .service-section7 .con-box .l{
      width: 35%;
    }
    .service-section7 .con-box .r{
      width: 60%;
    }
  }

  @media (max-width: 768px) {
    .service-section7 .top-title h1{
      margin-left: 0;
    }
    .service-section7 .con-box{
      display: block;
      padding-top: 0 ;
    }
    .service-section7 .con-box .l{
      height: auto;
      margin-bottom: 20px;
    }
    .service-section7 .top-title{
      padding: 5rem 0 2rem;
    }
  }

{%- endstyle -%}

{% schema %}
{
  "name": "Service Section 7",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "背景图片"
    },
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "range",
      "id": "title_fs",
      "label": "标题文字大小",
      "default": 5.2,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_fs_mobile",
      "label": "移动端标题文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh",
      "label": "标题行间距",
      "default": 8,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "title_lh_mobile",
      "label": "移动端标题行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "描述"
    },
    {
      "type": "range",
      "id": "description_fs",
      "label": "描述文字大小",
      "default": 2.8,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_fs_mobile",
      "label": "移动端描述文字大小",
      "default": 1.2,
      "min": 1,
      "max": 5,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_lh",
      "label": "描述行间距",
      "default": 3.2,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "description_lh_mobile",
      "label": "移动端描述行间距",
      "default": 2.4,
      "min": 1,
      "max": 10,
      "step": 0.1,
      "unit": "rem"
    }

  ],
  "presets": [
    {
      "name": "Service Section 7"
    }
  ]
}
{% endschema %}
